
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

body {
  padding: 1.5rem;
  color: #fff;
  font-family: system;
  font-weight: 300;
  line-height: 1.3;
  background-color: #f53065;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
====================
  times
====================
*/

.time-slept,
.time-productive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin: 1.5rem;
  text-align: center;
}

.heading {
  margin: 1.5rem;
  font-size: 1.5em;
}

.time {
  font-size: 3em;
}

/*
====================
  reset-btn
====================
*/

.reset-btn:disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 10rem;
  height: 3.125rem;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 1.5rem auto;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: none;
  opacity: .5;
}
